@import "../common/var.scss";

@mixin button-variant($backgroundColor, $borderColor, $fontColor) {
  color: $fontColor;
  background-color: $backgroundColor;
  border-color: $borderColor;

  &:hover {
    background-color: mix($--color-white, $backgroundColor, 20%);
    border-color: mix($--color-white, $borderColor, 20%);
    color: $fontColor;
  }

  &:active {
    background-color: mix($--color-black, $backgroundColor, 10%);
    border-color: mix($--color-black, $borderColor, 10%);
    color: $fontColor;
  }

  &.is-plain {
    @include button-plain($backgroundColor);
  }
}

@mixin button-plain($color) {
  background-color: mix($--color-white, $color, 90%);
  border-color: mix($--color-white, $color, 60%);
  color: $color;

  &:hover {
    background-color: $color;
    border-color: $color;
    color: $--color-white;
  }

  &:active {
    background-color: mix($--color-black, $color, 10%);
    border-color: mix($--color-black, $color, 10%);
    color: $--color-white;
  }
}
